.button {
  margin: 0;
  text-decoration: none;
  text-transform: uppercase;
  background-color: @blue;
  color: @white;
  font-size: 18px;
  font-weight: @bold;
  line-height: 26px;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: @blue-hover;
  }

  &:focus {
    background-color: @blue-hover;
    outline: 1px solid @brown-grey;
  }

  &:active {
    background-color: @blue-active;
    color: rgba(255, 255, 255, 0.3);
  }
}
