.contact {
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact__label {
  position: relative;
  padding-left: 17px;
  text-transform: uppercase;
  font-size: 14px;
  color: #333333;

  &--phone {
    &:before {
      position: absolute;
      content: "";
      background: url("../img/form-image/phone-icon.svg") no-repeat 50% 50%;
      width: 20px;
      height: 20px;
      top: 34px;
      right: -85px;
      z-index: 1;
    }
  }

  &--email {
    &:before {
      position: absolute;
      content: "";
      background: url("../img/form-image/email-icon.svg") no-repeat 50% 50%;
      width: 20px;
      height: 20px;
      top: 35px;
      right: -99px;
      z-index: 1;
    }
  }
}

.contact__input {
  position: relative;
  display: block;
  padding: 16px 0 16px 16px;
  margin-bottom: 16px;
  box-sizing: border-box;
  width: 100%;
  border: none;
  font-size: 18px;
  font-weight: @bold;
  background-image: linear-gradient(to right, @white-grey 80%, @deep-grey 80%);

  &:hover {
    background: @grey-hover;
  }

  &:active {
    background: @white;
    outline: 4px solid @grey-active;
  }
}

@media (min-width: @tablet-width) {
  .contact {
    padding-left: 43px;
  }
}

@media (min-width: @desktop-width) {
  .contact {
    width: 402px;
    padding-left: 63px;
  }

  .contact__label {
    &--phone {
      left: 120px;
    }

    &--email {
      left: 120px;
    }
  }

  .contact__input {
    background-image: linear-gradient(
      to right,
      @white-grey 85%,
      @deep-grey 85%
    );
  }
}
