.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact__label {
  padding-left: 17px;
  text-transform: uppercase;
  font-size: 14px;
  color: #333333;
}

.contact__input {
  position: relative;
  padding: 16px 0 16px 16px;
  margin-bottom: 16px;
  box-sizing: border-box;
  width: 100%;
  border: none;
  font-size: 18px;
  font-weight: @bold;
  background-image: linear-gradient(to right, @white-grey 80%, @deep-grey 80%),
    url("/img/form-image/phone-icon.svg");
}
