.footer {
  width: 320px;
  margin: 0 auto;
}

.footer__wrapper {
  width: 156px;
  margin: 0 auto;
  padding-top: 38px;
  text-align: center;
}

.footer__hashtag {
  width: 130px;

  font-size: 21px;
  font-weight: @bold;
  text-transform: uppercase;
}

.footer__socials {
  margin: 37px 0 40px 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.footer__dev {
  width: 130px;
  margin: 0 auto;
  padding-bottom: 22px;
}
