.form__group {
  width: 320px;
  margin: 0 auto;
}

.form__fieldset {
  margin: 0;
  padding: 20px 20px 37px 20px;
  border: none;
  border-bottom: 1px solid @grey;
}

.form__fieldset-title {
  margin: 0;
  padding: 0;
  padding-top: 24px;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  font-weight: @bold;
}

@media (min-width: @tablet-width) {
  .form__group {
    width: 648px;
    display: flex;
    flex-wrap: wrap;
  }

  .form__fieldset {
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .form__group {
    width: 960px;
  }
}
