.intro__wrapper {
  width: 320px;
  height: auto;
  margin: 0 auto;
}

.intro__image {
  width: 320px;
  height: 158px;
  background: url("../img/index-image/bg-intro-mobile.jpg") no-repeat 50% 100%;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    background: url("/img/sedona.svg") no-repeat;
    width: 230px;
    height: 40px;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &::after {
    position: absolute;
    content: "";
    background: url("/img/index-image/intro-top.svg") no-repeat;
    width: 320px;
    height: 60px;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  &--index {
    width: 320px;
    height: 389px;

    &::before {
      position: absolute;
      content: "";
      background: url("/img/text-index-mobile.svg") no-repeat;
      width: 282px;
      height: 214px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.intro__inner {
  margin-top: 32px;
  padding: 0 20px;
  text-align: center;
  text-transform: uppercase;

  &--index {
    padding-bottom: 16px;
    position: relative;

    @media (max-width: 767px) {
      &::before {
        position: absolute;
        content: "";
        background: url("/img/index-image/intro-bottom.svg") no-repeat;
        width: 320px;
        height: 60px;
        bottom: -90px;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
      }
    }
  }
}

.intro__title {
  margin: 0;
  padding: 0;
  padding-bottom: 24px;
  font-size: 18px;
}

.intro__paragraph {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

@media (min-width: @tablet-width) {
  .intro__wrapper {
    width: 768px;
  }

  .intro__image {
    width: 768px;
    height: 290px;
    background: url("../img/index-image/bg-intro-tablet.jpg") no-repeat 50% 100%;

    &::before {
      width: 460px;
      height: 80px;
      background: url("/img/sedona-desktop.svg") no-repeat 50% 50%;
    }

    &::after {
      width: 768px;
      background: url("../img/intro-triangle-tablet.svg") no-repeat 50% 50%;
    }

    &--index {
      height: 518px;

      &::before {
        height: 350px;
        background: url("/img/text-index-desktop.svg") no-repeat 50% 50%;
      }
    }
  }

  .intro__inner {
    margin: 0 auto;
    margin-top: 115px;
    padding-bottom: 67px;
    width: 440px;
  }

  .intro__title {
    font-size: 30px;
    line-height: 26px;
  }

  .intro__paragraph {
    line-height: 21px;
  }
}

@media (min-width: @desktop-width) {
  .intro__wrapper {
    width: 1200px;
  }

  .intro__image {
    width: 1200px;
    height: 301px;
    background: url("../img/index-image/bg-intro-desktop.jpg") no-repeat 50% 50%;

    &::after {
      width: 1200px;
      height: 57px;
      background: url("../img/intro-triangle-desktop.svg") no-repeat 50% 50%;
    }

    &--index {
      height: 518px;
    }
  }
}
