.intro__wrapper {
  width: 320px;
  height: auto;
  margin: 0 auto;
}

.intro__image {
  position: relative;
  width: 320px;
  height: 158px;
  background-image: url("../img/index-image/bg-intro-mobile.jpg");
  background-repeat: no-repeat;
  background-position: 50% 100%;
  z-index: -1;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/index-image/bg-intro-mobile@2x.jpg");
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: 320px auto;
  }

  &::before {
    position: absolute;
    content: "";
    background-image: url("/img/SEDONA.svg");
    background-repeat: no-repeat;
    background-position: 50% 100%;
    width: 230px;
    height: 40px;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &::after {
    position: absolute;
    content: "";
    background-image: url("/img/intro-triangle.svg");
    width: 768px;
    height: 57px;
    bottom: -1px;
    left: -440px;
  }

  &--index {
    width: 320px;
    height: 389px;

    &::before {
      position: absolute;
      content: "";
      background: url("/img/text-index-mobile.svg") no-repeat;
      width: 282px;
      height: 214px;
      top: 197px;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.intro__inner {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 37px;
  padding-bottom: 28px;
  text-align: center;
  text-transform: uppercase;
  box-sizing: border-box;

  &--index {
    padding-top: 32px;
    padding-bottom: 16px;
    position: relative;

    @media (max-width: 767px) {
      &::before {
        position: absolute;
        content: "";
        background: url("/img/index-image/intro-bottom.svg") no-repeat;
        width: 320px;
        height: 37px;
        bottom: -55px;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &::after {
        position: absolute;
        content: "";
        background: url("/img/intro-bottom.svg") no-repeat;
        width: 320px;
        height: 37px;
        bottom: -55px;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
      }
    }
  }
}

.intro__title {
  margin: 0 auto;
  padding: 0;
  max-width: 272px;
  padding-bottom: 23px;
  font-size: 18px;
  line-height: 27px;

  &--index {
    padding-bottom: 34px;
  }
}

.intro__paragraph {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
}

@media (min-width: @tablet-width) {
  .intro__wrapper {
    width: 768px;
  }

  .intro__image {
    width: 768px;
    height: 290px;
    background: url("../img/index-image/bg-intro-tablet.jpg") no-repeat 50% 100%;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index-image/bg-intro-tablet@2x.jpg");
    }

    &::before {
      width: 460px;
      height: 78px;
      background-image: url("/img/SEDONA.svg");
      background-repeat: no-repeat;
      top: 46%;
      left: 50%;
    }

    &::after {
      width: 768px;
      background-position: 50% 50%;
      bottom: -1px;
      left: 0;
    }

    &--index {
      position: relative;
      height: 518px;

      &::before {
        position: absolute;
        top: 252px;
        height: 350px;
        background-image: url("/img/text-index-desktop.svg");
        background-repeat: no-repeat;
      }
    }
  }

  .intro__inner {
    margin: 0 auto;
    padding-top: 64px;
    width: 530px;
    border: none;

    &--index {
      padding-top: 48px;
      padding-bottom: 55px;
    }

    &--catalog {
      padding: 0 20px;
      padding-top: 68px;
    }
  }

  .intro__title {
    padding-bottom: 23px;
    max-width: 520px;
    font-size: 30px;
    line-height: 26px;

    &--index {
      padding-bottom: 30px;
      font-size: 21px;
    }

    &--catalog {
      padding-bottom: 30px;
    }
  }

  .intro__paragraph {
    line-height: 21px;
  }
}

@media (min-width: @desktop-width) {
  .intro {
    max-width: 1200px;
  }

  .intro__wrapper {
    width: 1200px;
  }

  .intro__inner {
    padding-top: 115px;
    padding-bottom: 40px;

    &--index {
      width: 530px;
      padding-top: 60px;
    }

    &--catalog {
      padding-top: 105px;
    }
  }

  .intro__title {
    padding-bottom: 31px;
  }

  .intro__image {
    width: 1200px;
    height: 301px;
    background-image: url("../img/index-image/bg-intro-desktop.jpg");
    background-repeat: no-repeat;
    background-position: 50% 100%;

    &::after {
      width: 1200px;
      height: 57px;
    }

    &--index {
      height: 518px;
    }
  }
}
