.photo__wrapper {
  width: 280px;
  margin: 0 auto;
  padding-top: 10px;
}

.photo__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.photo__item {
  position: relative;
  padding: 25px 0;

  @media (max-width: 767px) {
    &:first-child {
      &::before {
        position: absolute;
        content: "";
        width: 320px;
        height: 1px;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        background-color: @grey;
      }
    }

    &::after {
      position: absolute;
      content: "";
      width: 320px;
      height: 1px;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0);
      background-color: @grey;
    }
  }
}

.photo__content {
  width: 280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.photo__image {
  display: block;
}

.photo__inner {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
}

.photo__title {
  display: contents;
  font-size: 14px;
  line-height: 21px;
}

.photo__name {
  padding-bottom: 2px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  font-weight: @bold;
}

.photo__author {
  color: @dark-grey;
}

@media (min-width: @tablet-width) {
  .photo__wrapper {
    padding-top: 81px;
    width: 648px;
  }

  .photo__list {
    display: flex;
    flex-wrap: wrap;
  }

  .photo__item {
    padding: 0;
    border: none;
    background-color: @white-grey;

    &:nth-of-type(3) {
      background-color: #eaeaea;
    }
  }

  .photo__content {
    width: 324px;

    &--fullscreen {
      width: 648px;
    }
  }

  .photo__image {
    width: 100%;

    &--fullscreen {
      height: 400px;
    }
  }

  .photo__inner {
    padding: 22px 20px;
    padding-bottom: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .photo__title {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: @desktop-width) {
  .photo__wrapper {
    width: 1200px;
    padding-top: 43px;
  }

  .photo__content {
    position: relative;
    width: 400px;

    &--fullscreen {
      width: 1200px;
    }
  }

  .photo__inner {
    position: absolute;
    bottom: 0;
    padding: 15px 25px;
    padding-top: 20px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
  }

  .photo__name,
  .photo__author {
    color: @white;
  }
}
