.recommendation__wrapper {
  width: 320px;
  margin: 0 auto;
}

.recommendation__inner {
  width: 284px;
  margin: 0 auto;
  padding: 35px 0 49px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.recommendation__title {
  text-transform: uppercase;
}

.recommendation__quote {
  padding-bottom: 25px;
}

.recommendation__button {
  padding: 16px 0;
}
