.site-nav {
  /* display: none;*/
  z-index: 1;
}

.site-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

@media (max-width: 767px) {
  .site-nav__item {
    padding: 16px 0;
    background-color: @blue;

    &:not(:last-child) {
      border-bottom: 1px solid lighten(@black, 60%);
    }

    &:not(:first-child) {
      border-top: 1px solid darken(@white, 20%);
    }

    &:last-child {
      background-image: linear-gradient(to top, @grey, @blue 15%);
    }
  }

  .site-nav__item--empty {
    display: none;
  }
}

.site-nav__link {
  &--hover {
    background-color: @blue-hover;
  }

  &--active {
    color: rgb(255, 255, 255, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .site-nav__list {
    min-height: 56px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .site-nav__item {
    min-width: 153px;
  }

  .site-nav__link {
    color: @black;
    background-color: @white;
    font-size: 14px;
  }
}

@media (min-width: @desktop-width) {
  .site-nav__item {
    min-width: 250px;
  }
}
