.socials__list {
  margin: 0 auto;
  padding: 40px 82px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.socials__item:not(:last-child) {
  padding-right: 6px;
}

.socials__link {
  width: 48px;
  height: 48px;
  background-color: @blue;
}

.socials__icon {
  width: 25px;
  height: 25px;
  padding: 14px;
  fill: @white;
  background-color: @blue;

  &:hover {
    fill: @white;
    background-color: @blue-hover;
  }
  &:focus {
    fill: rgba(255, 255, 255, 0.6);
  }

  &:active {
    fill: rgba(255, 255, 255, 0.3);
    background-color: @blue-active;
  }
}
