.video__wrapper {
  width: 280px;
  margin: 0 auto;
}

.video__inner {
  padding: 20px 6px;
  padding-bottom: 38px;
  text-transform: uppercase;
  text-align: center;
}

.video__title {
  margin: 0;
  padding: 0;
  padding-bottom: 25px;
  font-size: 18px;
  line-height: 26px;
}

.video__paragraph {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
}

.video__image {
  position: relative;
  width: 280px;
  height: 177px;

  &::before {
    position: absolute;
    content: "";
    width: 48px;
    height: 54px;
    top: 62px;
    left: 116px;
    background-image: url("/img/svg/play.svg");
  }
}

@media (min-width: @tablet-width) {
  .video__wrapper {
    width: 648px;
  }

  .video__inner {
    padding: 0 100px;
    padding-top: 58px;
    padding-bottom: 89px;
  }

  .video__title {
    padding-bottom: 30px;
    font-size: 30px;
    line-height: 26px;
  }

  .video__image {
    width: 648px;
    height: 500px;

    &::before {
      top: 220px;
      left: 300px;
    }
  }
}

@media (min-width: @desktop-width) {
  .video__wrapper {
    padding-bottom: 46px;
    width: 800px;
  }

  .video__inner {
    padding-top: 64px;
  }

  .video__image {
    width: 800px;
    height: 500px;
  }

  .video__image {
    &::before {
      left: 375px;
    }
  }
}
